/*img{
    max-height:5em;
    max-width:5em;
}*/
a{
    font-size: 1.5em!important;
}
.nav-custom{
    background-color: #175165;
}
a:hover{
    color: rgb(80, 238, 255)!important;    
}


/* .nav-title {
    font-size: 1.4em;
} */
.nav-dropdown{ 
    margin-top:0;
    margin-bottom: 0;
    border-width: 0;
    color : white !important;
}
.nav-title {
    font-family: 'Teko-Regular', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.97em!important;
    letter-spacing: .05em;
    white-space: nowrap;
    text-decoration: none;
}
#droplink{
    font-size: medium !important;
}
