
 .gallery-section-card{
    margin:8px;
    padding: 15px;
  }
 .gallery-section-image{
    width:50%;
    height:50%;
}
   
  .gallery-section-card-text{
    color: #ffffff !important;
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
  } 
  .container-fluid{
    background: url("../components/images/backimg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }